:root {
	--swatch-a: #ccc;
	--swatch-b: #888;
	--swatch-c: #222;
	--swatch-d: #eee;

	--upload-settings-width: 300px;
	--invalid-color: #F7614D;
	--font-size: 11pt;
}

h3 {
	margin: 0px;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: var(--font-size);
	overflow: hidden;
}
::-webkit-scrollbar {
    width: 0px;
	height: 0px;
    background: transparent;
}

#main {
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	overflow: hidden;
	background-color: var(--swatch-d);
}
#canvas {
	border: 0;
	cursor: pointer;
}
.size-input {
	width: 70px;
	background-color: var(--swatch-a);
	border: 0px;
	font-size: var(--font-size);
	border-radius: 5px;
	text-align: center;
}
.button-base, #nextPageButton, #prevPageButton {
	background: linear-gradient(to bottom, var(--swatch-d), var(--swatch-a));
	border: none;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 50px;
}
.button-base {
	width: 100%;
	cursor: pointer;
}
.button-base:active, #nextPageButton:active, #prevPageButton:active {
	background: linear-gradient(to bottom, var(--swatch-a), var(--swatch-d));
}
.button-base:focus {
	outline:0;
}

#convert_progress {
	background-color: var(--swatch-b);
	border-radius: 5px;
}

#convert_progress_bar {
	width: 0%;
	height: 30px;
	background-image: linear-gradient(to bottom, #45BEF2, #46A6C8);
	border-radius: 5px;
	margin: 10px 0px;
}

#convert_progress_bar_text {
	height: 30px;
	margin: 10px;
	display: table-cell;
	vertical-align: middle;
	margin: 10px 0px;
}

.bottom-tab {
	background-color: var(--swatch-c);
	height: 44px;
	max-width: 200px;
	border-radius: 20px 20px 0px 0px;
	position: absolute;
	bottom: 0px;
	z-index: 1;
	overflow: scroll;
}

.button-bottom-tab {
	padding: 5px 15px;
	width: 90px;
	height: 100%;
}

.upload-settings-table {
	margin: 10px;
	width: calc(var(--upload-settings-width) - 20px);
	color: var(--swatch-d);
	border-spacing: 0px 7px;
}
