.base-input {
	width: 60px;
	background-color: var(--swatch-d);
	border: 0px;
	font-size: var(--font-size);
	border-radius: var(--radius);
	text-align: left;
	text-indent: var(--radius);
}
.base-button {
	background: linear-gradient(to bottom, var(--swatch-d), var(--swatch-c));
	border-width: 0px;
	border-bottom-width: 4px;
	border-color: var(--swatch-b);
	border-radius: var(--radius);
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	width: 100%;
	cursor: pointer;
}
.base-button:disabled {
	background: linear-gradient(to bottom, var(--swatch-c), var(--swatch-c));
	cursor: default;
	border-color: var(--swatch-b);
}
.base-button:active {
	background: linear-gradient(to bottom, var(--swatch-c), var(--swatch-d));
	border-bottom-width: 2px;
	margin-top: 2px;
}
.base-button:hover:not(:active):not(:disabled) {
	background: linear-gradient(to bottom, #fff, #c5c5c5);
}
.base-button:focus {
	outline:0;
}
.base-accordion {
	background: linear-gradient(135deg, var(--swatch-d), var(--swatch-c));
	border: none;
	text-align: left;
	text-indent: 15px;
	display: inline-block;
	font-size: 12pt;
	border-radius: 0px var(--radius) var(--radius) 0px;
	width: 100%;
	height: 50px;
	cursor: pointer;
}
.base-accordion-triangle {
	float: right;
	color: #bbb;
	display: sticky;
	height: 19px;
	overflow: hidden;
}
.base-accordion:focus {
	outline: 0;
}
.base-td {
	text-align:right;
	padding-right: 10px;
}



.evil-button {
	background: linear-gradient(to bottom, var(--light-red), var(--dark-red));
	border-color: var(--darker-red);
}
.evil-button:active {
	background: linear-gradient(to bottom, var(--dark-red), var(--light-red));
	border-bottom-width: 2px;
	margin-top: 2px;
}
.evil-button:hover:not(:active):not(:disabled) {
	background: linear-gradient(to bottom, var(--lighter-red), var(--dark-red));
}
