#convert_progress {
	background-color: var(--swatch-b);
	border-radius: 5px;
}

#convert_progress_bar {
	width: 0%;
	height: 30px;
	background: linear-gradient(to bottom, var(--light-blue), var(--dark-blue));
	border-radius: 5px;
	margin: 10px 0px;
}

#convert_progress_bar_text {
	height: 30px;
	margin: 10px;
	display: table-cell;
	vertical-align: middle;
	margin: 10px 0px;
}
