:root {
	--swatch-a: #222;
	--swatch-b: #888;
	--swatch-c: #ccc;
	--swatch-d: #eee;

	--convert-settings-width: 300px;
	--control-settings-width: 318px;

	--invalid-color: #F7614D;
	--font-size: 11pt;

	--light-blue: #45BEF2;
	--dark-blue: #46A6C8;

	--light-red: #E8654E;
	--dark-red: #C83C24;
	--darker-red: #862614;
	--lighter-red: #EE7059;

	--radius: 7px;
}

h3 {
	font-size: 14pt;
	margin: 0px;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: var(--font-size);
	overflow: hidden;
}
::-webkit-scrollbar {
	width: 0px;
	height: 0px;
	background: transparent;
}

#main {
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	overflow: hidden;
	background-color: var(--swatch-d);
}

#canvas {
	border: 0;
	cursor: pointer;
}
