[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pyserial = "*"
flask = "*"
numpy = "*"
scipy = "*"
six = "*"
euclid3 = "*"
shapely = {path = "C:/Users/William/Downloads/Shapely-1.6.4.post2-cp38-cp38-win32.whl"}
pyudev = "*"

[requires]
python_version = "3.8"
