
[draggable] {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	/* Required to make elements draggable in old WebKit */
	-khtml-user-drag: element;
	-webkit-user-drag: element;
}

#draggable_list {
	list-style-type: none;
	float: left;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

.draggable_list_element {
	width: 100%;
	height: 35px;
	text-align: left;
	cursor: move;
	border-top: 1px solid #ddd;
}
.draggable_list_element header {
	width: 100%;
	float: left;
	padding: 5px;
}

.draggable_list_element.dragElem {
	opacity: 0.4;
}
.draggable_list_element.over {
	border-top: 2px solid #3d7e9a;
}

.draggable_list_element.chosen {
	background: #5a6570;
}